<div class="article">
  <h3 class="article__heading">
    <a
      class="text-primary"
      href="/moderator/article/{{this._id}}"
    >{{this.title}}</a></h3>
  <small class="article__authors">
    {{#each authors}}
      {{this}},
    {{/each}}
  </small>
  <br />
  <small>
    <b>Year Published:</b>
    {{#convertDateString this.publicationDate}}
      {{this}}
    {{/convertDateString}}
  </small>
  <p class="article__abstract">
    {{#trimString abstract}}
      {{this}}
    {{/trimString}}
  </p>
</div>