<div class="article">
  <h3 class="article__heading">
    <a class="text-primary" href="/article/{{this._id}}">{{this.title}}</a></h3>
  <small class="article__authors">
    {{#each authors}}
      {{this.name}},
    {{/each}}
  </small>
  <br />
  <small>
    <b>Publication Date:</b>
    {{#convertDateString this.publicationDate}}
      {{this}}
    {{/convertDateString}}
  </small>
  <p class="article__abstract">
    {{#trimString abstract}}
      {{this}}
    {{/trimString}}
  </p>
  <div class="flex article__buttons">
    {{#if @root.userId}}
      <button class="favorite-button flex" value="{{this._id}}" class="flex">
        {{#if isFavorite}}
          <span class="material-symbols-outlined">
            grade
          </span>
          Add to Favorites
        {{else}}
          <span class="material-symbols-outlined">
            star
          </span>
          Remove from Favorites
        {{/if}}
      </button>
    {{/if}}
    <button class="flex">
      <span class="material-symbols-outlined">
        format_quote
      </span>
      Cite Article
    </button>
  </div>
</div>