<link rel="stylesheet" href="/css/mod-articles.css" />
<section class="search-section">
  <form
    id="searchForm"
    name="search"
    action="/moderator/articles/search"
    method="GET"
  >
    <input
      class="search-section__input"
      type="text"
      id="searchQuery"
      placeholder="Search"
      name="q"
    />
  </form>
</section>
<section class="padded">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Article Title</th>
        </tr>
      </thead>
      <tbody>
        {{#if articles}}
          {{#each articles}}
            <tr>
              <td class="article-title">
                <a href="/moderator/article/{{this._id}}">
                  {{this.title}}
                </a>
              </td>
              <td class="delete-article">
                <a class="text-red" href="#">
                  <span class="material-symbols-outlined">
                    delete
                  </span>
                </a>
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr><td>No articles found...</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class="pagination flex">
    {{#paginate totalPages}}
      <button
        class="pagination__btn"
        form="searchForm"
        name="page"
        value="{{this}}"
      >
        {{this}}
      </button>
    {{/paginate}}
  </div>
</section>
<script src="/js/articles.js"></script>