<link rel="stylesheet" href="css/account.css" />
<link rel="stylesheet" href="css/forms.css">
<link rel="stylesheet" href="/css/sidebar.css" />
{{>account-sidebar}}
<section class="padded container">
  <h1 class="text-primary">{{user.firstName}} {{user.lastName}}</h1>
  <form action="/users/edit-account?_method=PUT" method="POST">
    <div class="flex form__items">
      <label for="email">Email Address</label>
      <input
        type="email"
        name="email"
        id="email"
        value="{{user.email}}"
        class="form__input"
        disabled
      />
      <label for="firstName">First Name</label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        value="{{user.firstName}}"
        class="form__input"
      />
      <label for="lastName">Last Name</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        value="{{user.lastName}}"
        class="form__input"
      />
      <button type="submit" class="button">Save Changes</button>
    </div>
  </form>
</section>