<link rel="stylesheet" href="/css/account.css" />
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/css/modal.css">
{{>account-sidebar}}

{{>modal buttonName='Delete' buttonColor='button--danger'}}

<section class="padded ">
  <div class="container">
    <h1 class="text-primary">{{user.firstName}} {{user.lastName}}</h1>
    <br />
    <h3>Edit Account</h3>
    <hr />
    <form action="/users/edit-account/{{userId}}?_method=PUT" method="POST">
      <div class="flex form__items">
        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          id="email"
          value="{{user.email}}"
          class="form__input"
          disabled
        />
        <label for="firstName">First Name</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          value="{{user.firstName}}"
          class="form__input"
        />
        <label for="lastName">Last Name</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          value="{{user.lastName}}"
          class="form__input"
        />
        <button type="submit" class="button">Save Changes</button>
      </div>
    </form>
    <div class="delete-account">
      <h3 class="text-red">Delete Account</h3>
      <hr />
      <p>Once you delete your account, there is no going back. Please be certain.</p>
      <button class="button button--danger" onclick="openModal()">Delete Account</button>
    </div>
  </div>
</section>

<script src="/js/account.js"></script>