<link rel="stylesheet" href="/css/modal.css" />
<link rel="stylesheet" href="/css/articles.css" />
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/citation.css" />

{{>overlay}}
<div class="modal">
  <div class="modal__content">
    <p id="modal-citation">Loading...</p>
    <input type="text" name="citation" id="citation" hidden />
    <button
      class="copy-citation button button--outline"
      onclick="copyCitation()"
      id="copyBtn"
    >
      <span class="material-symbols-outlined">
        content_copy
      </span>
      Copy Citation
    </button>
    <div class="flex">
      <button class="button" id="cancelBtn" onclick="closeModal()">
        Close
      </button>
    </div>
  </div>
</div>
<section class="search-section bg-gray">
  <form id="searchForm" name="search" action="/articles/search" method="GET">
    <input class="search-section__input" type="text" id="searchQuery" placeholder="Search" name="q" />
  </form>
</section>
<section class="padded">
  <div class="flex container">
    <div class="filter">
      <h4>Filter By:</h4>
      <div class="filter__box">
        <h4>Year</h4>
        <fieldset form="searchForm" name="year" id="yearField">
          {{#if yearList}}
            {{#each yearList}}
            <div>
              <input type="checkbox" name="year" form="searchForm" id="{{this}}" value="{{this}}" />
              <label for="{{this}}">{{this}}</label>
            </div>
            {{/each}}
          {{/if}}
        </fieldset>
      </div>
    </div>
    <div class="article__list">
      {{#if articles}}
        {{#each articles}}
          {{>article-item}}
        {{/each}}
      {{else}}
        <h2>No articles found...</h2>
      {{/if}}
    </div>
  </div>
  <div class="pagination flex">
    {{#paginate totalPages}}
      <button class="pagination__btn"  form="searchForm" name="page" value="{{this}}">
        {{this}}
      </button>
    {{/paginate}}
  </div>
</section>
<script src="/js/articles.js"></script>
<script src="/js/overlay.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/cite.js"></script>
