<link rel="stylesheet" href="/css/article-page.css" />

{{>overlay}}
{{>citation-modal}}

<section class="padded container">
  <h1 class="text-primary">{{article.title}}</h1>
  <div class="authors">
    <p><b>Authors: </b>
      {{#each article.authors}}
        {{this}},
      {{/each}}
    </p>
  </div>
  <div>
    <p>
      <b>Year Published:</b>
      {{#convertDateString article.publicationDate}}
        {{this}}
      {{/convertDateString}}
    </p>
    <p>
      <b>Keywords:</b>
      {{#if article.keywords}}
        {{#each article.keywords}}
          {{this}},
        {{/each}}
      {{/if}}
    </p>
    <p><b>DOI:</b> <span id="citationInfo">{{article.citationInfo}}</span></p>
  </div>
  <div class="flex buttons__container">
    <a class="button" href="{{article.articleFile}}" target="_blank">
      <span class="material-symbols-outlined">
        file_download
      </span>
      Download PDF
    </a>
    {{#if userId}}
      <button
        class="button favorite-button button--outline"
        value="{{article._id}}"
      >
        {{#if article.isFavorite}}
          <span class="material-symbols-outlined">
            grade
          </span>
          Add to Favorites
        {{else}}
          <span class="material-symbols-outlined">
            star
          </span>
          Remove from Favorites
        {{/if}}
      </button>
    {{/if}}
    <button class="button button--outline" onclick="openModal()">
      <span class="material-symbols-outlined">
        format_quote
      </span>
      Cite Article
    </button>
  </div>
  <div class="abstract">
    <h4>Abstract</h4>
    <p>{{article.abstract}}</p>
  </div>
</section>
<script src="/js/modal.js"></script>
<script src="/js/overlay.js"></script>
<script src="/js/cite.js"></script>
<script>
  citeArticle('{{article.citationInfo}}')
</script>