<link rel="stylesheet" href="/css/modal.css" />
<link rel="stylesheet" href="/css/article-page.css" />
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/citation.css" />

{{>overlay}}
<div class="modal">
  <div class="modal__content">
    <p id="modal-citation"></p>
    <input type="text" name="citation" id="citation" hidden />
    <button
      class="copy-citation button button--outline"
      onclick="copyCitation()"
      id="copyBtn"
    >
      <span class="material-symbols-outlined">
        content_copy
      </span>
      Copy Citation
    </button>
    <div class="flex">
      <button class="button" id="cancelBtn" onclick="closeModal()">
        Close
      </button>
    </div>
  </div>
</div>

<section class="padded container">
  <h1 class="text-primary">{{article.title}}</h1>
  <div class="authors">
    <p><b>Authors: </b>
      {{#each article.authors}}
        {{this}},
      {{/each}}
    </p>
  </div>
  <div>
    <p>
      <b>Year Published:</b>
      {{#convertDateString article.publicationDate}}
        {{this}}
      {{/convertDateString}}
    </p>
    <p>
      <b>Keywords:</b>
      {{#if article.keywords}}
        {{#each article.keywords}}
          {{this}},
        {{/each}}
      {{/if}}
    </p>
    <p><b>DOI:</b> <span id="citationInfo">{{article.citationInfo}}</span></p>
  </div>
  <div class="flex buttons__container">
    <a class="button" href="{{article.articleFile}}" target="_blank">
      <span class="material-symbols-outlined">
        file_download
      </span>
      Download PDF
    </a>
    {{#if userId}}
      <button
        class="button favorite-button button--outline"
        value="{{article._id}}"
      >
        {{#if article.isFavorite}}
          <span class="material-symbols-outlined">
            grade
          </span>
          Add to Favorites
        {{else}}
          <span class="material-symbols-outlined">
            star
          </span>
          Remove from Favorites
        {{/if}}
      </button>
    {{/if}}
    <button class="button button--outline" onclick="openModal()">
      <span class="material-symbols-outlined">
        format_quote
      </span>
      Cite Article
    </button>
  </div>
  <div class="abstract">
    <h4>Abstract</h4>
    <p>{{article.abstract}}</p>
  </div>
</section>
<script src="/js/modal.js"></script>
<script src="/js/overlay.js"></script>
<script src="/js/cite.js"></script>
<script>
  citeArticle('{{article.citationInfo}}')
</script>