<link rel="stylesheet" href="/css/article-page.css" />

<section class="padded container">
  <h1 class="text-primary">{{article.title}}</h1>
  <div class="authors">
    <p><span>Authors: </span>
      {{#each article.authors}}
        {{this.name}},
      {{/each}}
    </p>
  </div>
  <div class="flex buttons__container">
    <button class="button">
      <span class="material-symbols-outlined">
        file_download
      </span>
      Download PDF
    </button>
    {{#if userId}}
      <button
        class="button favorite-button button--outline"
        value="{{article._id}}"
      >
        {{#if article.isFavorite}}
          <span class="material-symbols-outlined">
            grade
          </span>
          Add to Favorites
        {{else}}
          <span class="material-symbols-outlined">
            star
          </span>
          Remove from Favorites
        {{/if}}
      </button>
    {{/if}}
    <button class="button button--outline">
      <span class="material-symbols-outlined">
        format_quote
      </span>
      Cite Article
    </button>
  </div>
  <div class="abstract">
    <h4>Abstract</h4>
    <p>{{article.abstract}}</p>
  </div>
</section>